### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### Django ###
*.log
*.pot
*.pyc
__pycache__/

.env
test-env
node_modules
dist
*.egg-info
MANIFEST
*.sqlite3

### JETBRAINS ###
.idea/
